#pos1{
    background-color: aqua;
    height: 100px;
    width: 100px;
    position: absolute;
    
}
#pos2{
    background-color: rgb(219, 105, 105);
    height: 100px;
    width: 100px;
    position: fixed;
    
}
#pos3{
    background-color: lightsalmon;
    height: 100px;
    width: 100px;
    right: 0px;
    position:absolute ;
    
}
#pos4{
    background-color:green ;
    height: 100px;
    width: 100px;
    position: sticky;
    
    
}
.cont{
    display: inline;
}
p{
    background-color:rgba(48, 48, 173, 0.5);
    text-decoration: solid;
}
